*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body {
  background-color:khaki;
  font-family: "poppins";
 scroll-behavior: smooth;
 font-family: poppins;
 font-weight: lighter;
}

header{
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  width: 100vw;
  height: 100px;
  z-index: 999;
  text-align: right;
  padding: 4px;
}

header p{
  align-self: flex-end;
  font-family: "poppins";
  color:#fff
}

header  p:first-of-type { 
  font-size: 1rem;
  color:whitesmoke;
  font-family:"poppins";
  
 }


.logo{
  width: 90px;
  }

.nav {
    display: none;
    

}


nav ul{
list-style-type: none;
  justify-content: center;    
  align-items: center;
  top: 0;
    display: flex;
    margin:0; 
    margin-top: 1em;
    padding: 0;
    line-height: 22px;
    background-color: #02080c;
}

nav ul li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: bold;
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
color: white;
font-size: 15px;
text-transform: uppercase;
transition: all .5s ease;
padding: 8px 25px;
border-radius: 3px;
text-decoration: none;

}

 nav ul li a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
    transition : 5s;
}
.intro{
  background-image: url('images/bgimage.jpg') no-repeat center center/cover;
  

}

.intro-wrapper{
  position: absolute;
top:50%;
left: 50%;
transform: translate(-50, -50%);
}

.intro-wrapper h1{
  padding: 0;
  margin: 0;
  color:black;
  text-shadow: 0 2px 0 rgba(0,0,0, 0.5);
  font-size: 60px;
}

.intro-wrapper p{
  color: #fff;
  font-size: 18px;
  margin: 0;
  line-height: 35px;

}

.intro-wrapper a{
  background: #fff;
color:#000033;
text-decoration: none;
  padding: 10px 25px;  
display: inline-block;
margin-top: 30px;
}

span::before{
  content: ' ';
  animation: animate infinite 8s;
}

@keyframes animate{
  0%{
    content: "Bimbola Lasisi";
  }
  20%{
    content: 'Aspring to be Full stack developer';
  }
  40%{
    content: 'Freelancer';
  }
  60%{
    content: 'Cook';
  }
}
/* .home{
display: flex;
flex-direction: column;
background-color: rgba(0, 0,0,0.5);
height: 840px;
justify-content: center;
align-items: center;
}

#home::after{
  content: "";
  position: absolute;
  top: 0;
  right:0;
  background: url('images/bgimage.jpg') no-repeat center center/cover;
  height: 500px;
  width: 100%;
  z-index: -1;
  opacity: .8;

} */

.main{
margin: auto;
width: 90vw;
}

.headings{
font-family: 'Courier New', Courier, monospace;
font-size: 3rem;
text-align:center ;
margin: 40px 0px;
}

/* .bgimage
    padding-top: 50px;
    /* background:url("https://i.picsum.photos/id/893/1800/800.jpg?hmac=0-6WQf0MGoZ28EzY506mGuMxLkc5FSVEjmwFR0XQPUk") no-repeat center center fixed; */
    /* background-image: url("images/myeditpic.jfif") no-repeat center center fixed;

    background-size: cover;
    height: 100px; */


/* .profile-img{
    width:100%;
    height: 100%;

}
.profile-img img{
    object-fit: contain;
    /* width:500px;
    height: 500px;
    border-radius: 50%; */
    /* position: auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;

} */ 

/* .content{
width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
position: absolute;
left: 50%;
top: 50%;
/* need to work on the transform position */
/* transform: translate(-50%, -50%); */

.about-intro{
display: grid;
border-bottom: 3px solid;
grid-template-columns: 1fr;
align-items: center;
justify-items: center;
}

.about-intro article{
grid-row: 1/2;
color: #000033;
}

.about-intro img{
  width: 50vw;
  margin:auto;
}
.about-intro h2{
padding: 20px;
}
.about-intro p{
font-size: 20px;
padding: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: lighten;
}
/* .about-me{
width: 400px;

}

.about-me h1{
    font-size: 3.5rem;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
    }

    .about-me p{
        color: #747474;
    } */

    .portfolio-btn{
     width:190px;
     height: 44px;
     display:flex;
     justify-content: content;
     align-items: center;
     background-color:black;
     color: #ffffff;
     border-radius: 20px;
     box-shadow: 4px 10px 30px rgba(red, green, blue, alpha)
    }

.skills{
     padding-top: 20px;

}
  .skill-header{
      text-align: center;
      color: #008200;
      padding:1rem;
      position:relative;
      background: #1b9bff;
  }

  .skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }

  .skills-icons{
width: 80px;

  } 
  .skill-img{
    width: 90px;
    height:90px;
    position: relative;
    border-radius:45px;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .skill-img:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:50px;
    height:90px;
    background: rgba(100,100,100, 0.5);

  }



  .skill-box{
   padding: 1rem;
   color: black;
   cursor: pointer;
  }

  .skill-title {
   display: flex;
   flex-direction: column;
   align-items:center;
   padding: 0.5rem;
   margin-bottom: 0.5rem;
 position: relative;
  }

  .skill-title h3 {
      color: #fff; 
      /* work of the title header section */
      margin: 0.4rem;
  }

  .skill-title:after {
    content:'';
    position: absolute;
    bottom: 0;
    right: 50%;
    width:35px;
    border-radius: 2px 0 0 2px;
    background: rgba(100,100,100, 0.5);

  }



@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    ul{
       position: fixed;
    width:100%;
    height: 100vh;
    background:#813772 ;
    top:80px;
    left:-100%;
    text-align: center;

    }
    nav ul li{
        display: block;
    }
    nav ul li a{
      font-size: 20px;

    }
    a:hover, a.active{
        background-color: none;
        color: #0082
    }
}
      
    
  